<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
  </head>
<body>
  <div class="header">
    <img src="{% static 'logo.png' %}"/>
    <h2>2016 Bridgerland Science and Engineering Fair</h2>
  <div class="menu">
    <ul style="list-style-type:none">
      <li><a href="{% url 'admin:index' %}">Setup and Administration</a></li>
      <li><a href="{% url 'score-submit' %}">Score Submission Form</a></li>
      <li><a href="{% url 'awards-list' %}">Results</a></li>
    </ul>
  </div>
  </div>
</body>
</html>
