{% load staticfiles %}
<div class="award">
  {% for award in awards %}
  <h1 style="text-align:center;">{{ award.title }}</h1>
  <div class="presentation-container">
    {% for winner in award.awardwinner_set.all|sort_by:'final_score' %}
      <div class="presentation-award">
        <div class="show-btn" onclick="toggle_visibility('{{ winner.project }}', '{{winner.id}}');">
        </div>
        <img src="{% static 'prize.PNG' %}"/>
        <hr>
        
        {% if winner.award.category != 'Specialty Award' %}
          <h2 style="margin-bottom: 2px;"><span class="ord">{{ forloop.counter }}</span> Place</h2>
        {% else %}
          <h2 style="margin-bottom: 2px;">Winner</h2>
        {% endif %}
        <!--<div id="{{ winner.project }}" class="hidden">-->
        <table>
        <tr>
          <th>Winners</th>
          <th>School</th>
          <th>Project</th>
        </tr>
        {% for student in winner.project.student_set.all %}
        <tr class="hidden" id="{{ winner.project }}">
          <td><b>{{ student }}</b></td>
          <td>{% if forloop.first %}{{ student.school }}{% endif %}</td>
          <td>{% if forloop.first %}{{ winner.project.title }}{% endif %}</td>
        </tr>
        {% endfor %}
      </table>
      
      </div>
    {% endfor %}
  </div><br><br><br>
  {% endfor %}
</div>

</div>
<script>
    function toggle_visibility(id, eye) {
      var e = document.getElementById(id);
      var i = document.getElementById(eye);
      if(e.style.visibility == 'visible') {
          e.style.visibility = 'hidden';
          i.className = 'fa fa-eye';
      }
      else {
          e.style.visibility = 'visible';
          i.className = 'fa fa-eye-slash';
      }
    }

    function getOrdinal(n) {
        var s=["th","st","nd","rd"],
        v=n%100;
        return n+(s[(v-20)%10]||s[v]||s[0]);
    }
    var divs = document.getElementsByClassName('ord');
    for (var i = 0; i < divs.length; i++) {
        divs[i].innerHTML = getOrdinal(divs[i].innerHTML);
    }
</script>
